.flight-info-container {
    background-color: #FFFFFF;
    max-width: 980px;
    display: flex;
    justify-content: center;
}
.flight-title-container {
    display: flex;
    align-items: flex-start;
    background-color: #FFA4A4;
    padding-left: 5px;
    border-radius: 3px;
}