.introContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 3s ease;
}

.introContainer.fadeIn {
  opacity: 1; /* When the fade-in class is added, set opacity to 1 */
}