.main-plan-container {
    flex: 4;
    margin-top: 40px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out; /* Define transition properties */
    transition-delay: 0.1s; /* Add delay to the transition */
    list-style-type: none;
    max-height: 1000px;

}

.main-plan-container.show-animate {
    transform: translateX(0);
}