body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mario-death-animation {
  position: relative;
  width: 650px;
  height: 400px;
  overflow: hidden;
}

.block {
  position: absolute;
  animation: z 1s infinite;
  -webkit-animation: z 1s infinite;
  -moz-animation: z 1s infinite;
  -o-animation: z 1s infinite;
  top: 70%;
  left: 0%;
}

@keyframes z {
  0%,
  100% {
    box-shadow: 5px 5px 0 0 rgba(227, 94, 15, 1),
      10px 5px 0 0 rgba(241, 208, 177, 1), 15px 5px 0 0 rgba(241, 208, 177, 1),
      20px 5px 0 0 rgba(241, 208, 177, 1), 25px 5px 0 0 rgba(241, 208, 177, 1),
      30px 5px 0 0 rgba(241, 208, 177, 1), 35px 5px 0 0 rgba(241, 208, 177, 1),
      40px 5px 0 0 rgba(241, 208, 177, 1), 45px 5px 0 0 rgba(241, 208, 177, 1),
      50px 5px 0 0 rgba(0, 0, 0, 1), 55px 5px 0 0 rgba(227, 94, 15, 1),
      60px 5px 0 0 rgba(241, 208, 177, 1), 65px 5px 0 0 rgba(241, 208, 177, 1),
      70px 5px 0 0 rgba(241, 208, 177, 1), 75px 5px 0 0 rgba(241, 208, 177, 1),
      80px 5px 0 0 rgba(227, 94, 15, 1), 5px 10px 0 0 rgba(241, 208, 177, 1),
      10px 10px 0 0 rgba(227, 94, 15, 1), 15px 10px 0 0 rgba(227, 94, 15, 1),
      20px 10px 0 0 rgba(227, 94, 15, 1), 25px 10px 0 0 rgba(227, 94, 15, 1),
      30px 10px 0 0 rgba(227, 94, 15, 1), 35px 10px 0 0 rgba(227, 94, 15, 1),
      40px 10px 0 0 rgba(227, 94, 15, 1), 45px 10px 0 0 rgba(227, 94, 15, 1),
      50px 10px 0 0 rgba(0, 0, 0, 1), 55px 10px 0 0 rgba(241, 208, 177, 1),
      60px 10px 0 0 rgba(227, 94, 15, 1), 65px 10px 0 0 rgba(227, 94, 15, 1),
      70px 10px 0 0 rgba(227, 94, 15, 1), 75px 10px 0 0 rgba(227, 94, 15, 1),
      80px 10px 0 0 rgba(0, 0, 0, 1), 5px 15px 0 0 rgba(241, 208, 177, 1),
      10px 15px 0 0 rgba(227, 94, 15, 1), 15px 15px 0 0 rgba(227, 94, 15, 1),
      20px 15px 0 0 rgba(227, 94, 15, 1), 25px 15px 0 0 rgba(227, 94, 15, 1),
      30px 15px 0 0 rgba(227, 94, 15, 1), 35px 15px 0 0 rgba(227, 94, 15, 1),
      40px 15px 0 0 rgba(227, 94, 15, 1), 45px 15px 0 0 rgba(227, 94, 15, 1),
      50px 15px 0 0 rgba(0, 0, 0, 1), 55px 15px 0 0 rgba(241, 208, 177, 1),
      60px 15px 0 0 rgba(227, 94, 15, 1), 65px 15px 0 0 rgba(227, 94, 15, 1),
      70px 15px 0 0 rgba(227, 94, 15, 1), 75px 15px 0 0 rgba(227, 94, 15, 1),
      80px 15px 0 0 rgba(0, 0, 0, 1), 5px 20px 0 0 rgba(241, 208, 177, 1),
      10px 20px 0 0 rgba(227, 94, 15, 1), 15px 20px 0 0 rgba(227, 94, 15, 1),
      20px 20px 0 0 rgba(227, 94, 15, 1), 25px 20px 0 0 rgba(227, 94, 15, 1),
      30px 20px 0 0 rgba(227, 94, 15, 1), 35px 20px 0 0 rgba(227, 94, 15, 1),
      40px 20px 0 0 rgba(227, 94, 15, 1), 45px 20px 0 0 rgba(227, 94, 15, 1),
      50px 20px 0 0 rgba(0, 0, 0, 1), 55px 20px 0 0 rgba(241, 208, 177, 1),
      60px 20px 0 0 rgba(227, 94, 15, 1), 65px 20px 0 0 rgba(227, 94, 15, 1),
      70px 20px 0 0 rgba(227, 94, 15, 1), 75px 20px 0 0 rgba(227, 94, 15, 1),
      80px 20px 0 0 rgba(0, 0, 0, 1), 5px 25px 0 0 rgba(241, 208, 177, 1),
      10px 25px 0 0 rgba(227, 94, 15, 1), 15px 25px 0 0 rgba(227, 94, 15, 1),
      20px 25px 0 0 rgba(227, 94, 15, 1), 25px 25px 0 0 rgba(227, 94, 15, 1),
      30px 25px 0 0 rgba(227, 94, 15, 1), 35px 25px 0 0 rgba(227, 94, 15, 1),
      40px 25px 0 0 rgba(227, 94, 15, 1), 45px 25px 0 0 rgba(227, 94, 15, 1),
      50px 25px 0 0 rgba(0, 0, 0, 1), 55px 25px 0 0 rgba(241, 208, 177, 1),
      60px 25px 0 0 rgba(0, 0, 0, 1), 65px 25px 0 0 rgba(227, 94, 15, 1),
      70px 25px 0 0 rgba(227, 94, 15, 1), 75px 25px 0 0 rgba(227, 94, 15, 1),
      80px 25px 0 0 rgba(0, 0, 0, 1), 5px 30px 0 0 rgba(241, 208, 177, 1),
      10px 30px 0 0 rgba(227, 94, 15, 1), 15px 30px 0 0 rgba(227, 94, 15, 1),
      20px 30px 0 0 rgba(227, 94, 15, 1), 25px 30px 0 0 rgba(227, 94, 15, 1),
      30px 30px 0 0 rgba(227, 94, 15, 1), 35px 30px 0 0 rgba(227, 94, 15, 1),
      40px 30px 0 0 rgba(227, 94, 15, 1), 45px 30px 0 0 rgba(227, 94, 15, 1),
      50px 30px 0 0 rgba(0, 0, 0, 1), 55px 30px 0 0 rgba(227, 94, 15, 1),
      60px 30px 0 0 rgba(0, 0, 0, 1), 65px 30px 0 0 rgba(0, 0, 0, 1),
      70px 30px 0 0 rgba(0, 0, 0, 1), 75px 30px 0 0 rgba(0, 0, 0, 1),
      80px 30px 0 0 rgba(227, 94, 15, 1), 5px 35px 0 0 rgba(241, 208, 177, 1),
      10px 35px 0 0 rgba(227, 94, 15, 1), 15px 35px 0 0 rgba(227, 94, 15, 1),
      20px 35px 0 0 rgba(227, 94, 15, 1), 25px 35px 0 0 rgba(227, 94, 15, 1),
      30px 35px 0 0 rgba(227, 94, 15, 1), 35px 35px 0 0 rgba(227, 94, 15, 1),
      40px 35px 0 0 rgba(227, 94, 15, 1), 45px 35px 0 0 rgba(227, 94, 15, 1),
      50px 35px 0 0 rgba(0, 0, 0, 1), 55px 35px 0 0 rgba(241, 208, 177, 1),
      60px 35px 0 0 rgba(241, 208, 177, 1), 65px 35px 0 0 rgba(241, 208, 177, 1),
      70px 35px 0 0 rgba(241, 208, 177, 1), 75px 35px 0 0 rgba(241, 208, 177, 1),
      80px 35px 0 0 rgba(0, 0, 0, 1), 5px 40px 0 0 rgba(241, 208, 177, 1),
      10px 40px 0 0 rgba(227, 94, 15, 1), 15px 40px 0 0 rgba(227, 94, 15, 1),
      20px 40px 0 0 rgba(227, 94, 15, 1), 25px 40px 0 0 rgba(227, 94, 15, 1),
      30px 40px 0 0 rgba(227, 94, 15, 1), 35px 40px 0 0 rgba(227, 94, 15, 1),
      40px 40px 0 0 rgba(227, 94, 15, 1), 45px 40px 0 0 rgba(227, 94, 15, 1),
      50px 40px 0 0 rgba(0, 0, 0, 1), 55px 40px 0 0 rgba(241, 208, 177, 1),
      60px 40px 0 0 rgba(227, 94, 15, 1), 65px 40px 0 0 rgba(227, 94, 15, 1),
      70px 40px 0 0 rgba(227, 94, 15, 1), 75px 40px 0 0 rgba(227, 94, 15, 1),
      80px 40px 0 0 rgba(0, 0, 0, 1), 5px 45px 0 0 rgba(241, 208, 177, 1),
      10px 45px 0 0 rgba(227, 94, 15, 1), 15px 45px 0 0 rgba(227, 94, 15, 1),
      20px 45px 0 0 rgba(227, 94, 15, 1), 25px 45px 0 0 rgba(227, 94, 15, 1),
      30px 45px 0 0 rgba(227, 94, 15, 1), 35px 45px 0 0 rgba(227, 94, 15, 1),
      40px 45px 0 0 rgba(227, 94, 15, 1), 45px 45px 0 0 rgba(227, 94, 15, 1),
      50px 45px 0 0 rgba(0, 0, 0, 1), 55px 45px 0 0 rgba(241, 208, 177, 1),
      60px 45px 0 0 rgba(227, 94, 15, 1), 65px 45px 0 0 rgba(227, 94, 15, 1),
      70px 45px 0 0 rgba(227, 94, 15, 1), 75px 45px 0 0 rgba(227, 94, 15, 1),
      80px 45px 0 0 rgba(0, 0, 0, 1), 5px 50px 0 0 rgba(241, 208, 177, 1),
      10px 50px 0 0 rgba(227, 94, 15, 1), 15px 50px 0 0 rgba(227, 94, 15, 1),
      20px 50px 0 0 rgba(227, 94, 15, 1), 25px 50px 0 0 rgba(227, 94, 15, 1),
      30px 50px 0 0 rgba(227, 94, 15, 1), 35px 50px 0 0 rgba(227, 94, 15, 1),
      40px 50px 0 0 rgba(227, 94, 15, 1), 45px 50px 0 0 rgba(227, 94, 15, 1),
      50px 50px 0 0 rgba(0, 0, 0, 1), 55px 50px 0 0 rgba(241, 208, 177, 1),
      60px 50px 0 0 rgba(227, 94, 15, 1), 65px 50px 0 0 rgba(227, 94, 15, 1),
      70px 50px 0 0 rgba(227, 94, 15, 1), 75px 50px 0 0 rgba(227, 94, 15, 1),
      80px 50px 0 0 rgba(0, 0, 0, 1), 5px 55px 0 0 rgba(0, 0, 0, 1),
      10px 55px 0 0 rgba(0, 0, 0, 1), 15px 55px 0 0 rgba(227, 94, 15, 1),
      20px 55px 0 0 rgba(227, 94, 15, 1), 25px 55px 0 0 rgba(227, 94, 15, 1),
      30px 55px 0 0 rgba(227, 94, 15, 1), 35px 55px 0 0 rgba(227, 94, 15, 1),
      40px 55px 0 0 rgba(227, 94, 15, 1), 45px 55px 0 0 rgba(0, 0, 0, 1),
      50px 55px 0 0 rgba(241, 208, 177, 1), 55px 55px 0 0 rgba(227, 94, 15, 1),
      60px 55px 0 0 rgba(227, 94, 15, 1), 65px 55px 0 0 rgba(227, 94, 15, 1),
      70px 55px 0 0 rgba(227, 94, 15, 1), 75px 55px 0 0 rgba(227, 94, 15, 1),
      80px 55px 0 0 rgba(0, 0, 0, 1), 5px 60px 0 0 rgba(241, 208, 177, 1),
      10px 60px 0 0 rgba(241, 208, 177, 1), 15px 60px 0 0 rgba(0, 0, 0, 1),
      20px 60px 0 0 rgba(0, 0, 0, 1), 25px 60px 0 0 rgba(227, 94, 15, 1),
      30px 60px 0 0 rgba(227, 94, 15, 1), 35px 60px 0 0 rgba(227, 94, 15, 1),
      40px 60px 0 0 rgba(227, 94, 15, 1), 45px 60px 0 0 rgba(0, 0, 0, 1),
      50px 60px 0 0 rgba(241, 208, 177, 1), 55px 60px 0 0 rgba(227, 94, 15, 1),
      60px 60px 0 0 rgba(227, 94, 15, 1), 65px 60px 0 0 rgba(227, 94, 15, 1),
      70px 60px 0 0 rgba(227, 94, 15, 1), 75px 60px 0 0 rgba(227, 94, 15, 1),
      80px 60px 0 0 rgba(0, 0, 0, 1), 5px 65px 0 0 rgba(241, 208, 177, 1),
      10px 65px 0 0 rgba(227, 94, 15, 1), 15px 65px 0 0 rgba(241, 208, 177, 1),
      20px 65px 0 0 rgba(241, 208, 177, 1), 25px 65px 0 0 rgba(0, 0, 0, 1),
      30px 65px 0 0 rgba(0, 0, 0, 1), 35px 65px 0 0 rgba(0, 0, 0, 1),
      40px 65px 0 0 rgba(0, 0, 0, 1), 45px 65px 0 0 rgba(241, 208, 177, 1),
      50px 65px 0 0 rgba(227, 94, 15, 1), 55px 65px 0 0 rgba(227, 94, 15, 1),
      60px 65px 0 0 rgba(227, 94, 15, 1), 65px 65px 0 0 rgba(227, 94, 15, 1),
      70px 65px 0 0 rgba(227, 94, 15, 1), 75px 65px 0 0 rgba(227, 94, 15, 1),
      80px 65px 0 0 rgba(0, 0, 0, 1), 5px 70px 0 0 rgba(241, 208, 177, 1),
      10px 70px 0 0 rgba(227, 94, 15, 1), 15px 70px 0 0 rgba(227, 94, 15, 1),
      20px 70px 0 0 rgba(227, 94, 15, 1), 25px 70px 0 0 rgba(241, 208, 177, 1),
      30px 70px 0 0 rgba(241, 208, 177, 1), 35px 70px 0 0 rgba(241, 208, 177, 1),
      40px 70px 0 0 rgba(0, 0, 0, 1), 45px 70px 0 0 rgba(241, 208, 177, 1),
      50px 70px 0 0 rgba(227, 94, 15, 1), 55px 70px 0 0 rgba(227, 94, 15, 1),
      60px 70px 0 0 rgba(227, 94, 15, 1), 65px 70px 0 0 rgba(227, 94, 15, 1),
      70px 70px 0 0 rgba(227, 94, 15, 1), 75px 70px 0 0 rgba(227, 94, 15, 1),
      80px 70px 0 0 rgba(0, 0, 0, 1), 5px 75px 0 0 rgba(241, 208, 177, 1),
      10px 75px 0 0 rgba(227, 94, 15, 1), 15px 75px 0 0 rgba(227, 94, 15, 1),
      20px 75px 0 0 rgba(227, 94, 15, 1), 25px 75px 0 0 rgba(227, 94, 15, 1),
      30px 75px 0 0 rgba(227, 94, 15, 1), 35px 75px 0 0 rgba(227, 94, 15, 1),
      40px 75px 0 0 rgba(0, 0, 0, 1), 45px 75px 0 0 rgba(241, 208, 177, 1),
      50px 75px 0 0 rgba(227, 94, 15, 1), 55px 75px 0 0 rgba(227, 94, 15, 1),
      60px 75px 0 0 rgba(227, 94, 15, 1), 65px 75px 0 0 rgba(227, 94, 15, 1),
      70px 75px 0 0 rgba(227, 94, 15, 1), 75px 75px 0 0 rgba(0, 0, 0, 1),
      80px 75px 0 0 rgba(0, 0, 0, 1), 5px 80px 0 0 rgba(227, 94, 15, 1),
      10px 80px 0 0 rgba(0, 0, 0, 1), 15px 80px 0 0 rgba(0, 0, 0, 1),
      20px 80px 0 0 rgba(0, 0, 0, 1), 25px 80px 0 0 rgba(0, 0, 0, 1),
      30px 80px 0 0 rgba(0, 0, 0, 1), 35px 80px 0 0 rgba(0, 0, 0, 1),
      40px 80px 0 0 rgba(227, 94, 15, 1), 45px 80px 0 0 rgba(241, 208, 177, 1),
      50px 80px 0 0 rgba(0, 0, 0, 1), 55px 80px 0 0 rgba(0, 0, 0, 1),
      60px 80px 0 0 rgba(0, 0, 0, 1), 65px 80px 0 0 rgba(0, 0, 0, 1),
      70px 80px 0 0 rgba(0, 0, 0, 1), 75px 80px 0 0 rgba(0, 0, 0, 1),
      80px 80px 0 0 rgba(227, 94, 15, 1);
    height: 5px;
    width: 5px;
  }
}

.block:nth-child(1) {
  left: 12.3%;
}

.block:nth-child(2) {
  left: calc(12.3% * 2);
}

.block:nth-child(3) {
  left: calc(12.3% * 3);
}

.block:nth-child(4) {
  left: calc(12.3% * 4);
}

.goomba {
  position: absolute;
  left: 50%;
  top: 50%;
  animation: x 0.3s infinite, xWalk 10s infinite;
  -webkit-animation: x 0.3s infinite, xWalk 10s infinite;
  -moz-animation: x 0.3s infinite, xWalk 10s infinite;
  -o-animation: x 0.3s infinite, xWalk 10s infinite;
}

@keyframes xWalk {
  0% {
    left: 50%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}

@keyframes x {
  0%,
  50% {
    box-shadow: 35px 5px 0 0 rgba(168, 17, 0, 1),
      40px 5px 0 0 rgba(168, 17, 0, 1), 45px 5px 0 0 rgba(168, 17, 0, 1),
      50px 5px 0 0 rgba(168, 17, 0, 1), 30px 10px 0 0 rgba(168, 17, 0, 1),
      35px 10px 0 0 rgba(168, 17, 0, 1), 40px 10px 0 0 rgba(168, 17, 0, 1),
      45px 10px 0 0 rgba(168, 17, 0, 1), 50px 10px 0 0 rgba(168, 17, 0, 1),
      55px 10px 0 0 rgba(168, 17, 0, 1), 25px 15px 0 0 rgba(168, 17, 0, 1),
      30px 15px 0 0 rgba(168, 17, 0, 1), 35px 15px 0 0 rgba(168, 17, 0, 1),
      40px 15px 0 0 rgba(168, 17, 0, 1), 45px 15px 0 0 rgba(168, 17, 0, 1),
      50px 15px 0 0 rgba(168, 17, 0, 1), 55px 15px 0 0 rgba(168, 17, 0, 1),
      60px 15px 0 0 rgba(168, 17, 0, 1), 20px 20px 0 0 rgba(168, 17, 0, 1),
      25px 20px 0 0 rgba(168, 17, 0, 1), 30px 20px 0 0 rgba(168, 17, 0, 1),
      35px 20px 0 0 rgba(168, 17, 0, 1), 40px 20px 0 0 rgba(168, 17, 0, 1),
      45px 20px 0 0 rgba(168, 17, 0, 1), 50px 20px 0 0 rgba(168, 17, 0, 1),
      55px 20px 0 0 rgba(168, 17, 0, 1), 60px 20px 0 0 rgba(168, 17, 0, 1),
      65px 20px 0 0 rgba(168, 17, 0, 1), 15px 25px 0 0 rgba(168, 17, 0, 1),
      20px 25px 0 0 #000000, 25px 25px 0 0 #000000,
      30px 25px 0 0 rgba(168, 17, 0, 1), 35px 25px 0 0 rgba(168, 17, 0, 1),
      40px 25px 0 0 rgba(168, 17, 0, 1), 45px 25px 0 0 rgba(168, 17, 0, 1),
      50px 25px 0 0 rgba(168, 17, 0, 1), 55px 25px 0 0 rgba(168, 17, 0, 1),
      60px 25px 0 0 #000000, 65px 25px 0 0 #000000,
      70px 25px 0 0 rgba(168, 17, 0, 1), 10px 30px 0 0 rgba(168, 17, 0, 1),
      15px 30px 0 0 rgba(168, 17, 0, 1), 20px 30px 0 0 rgba(168, 17, 0, 1),
      25px 30px 0 0 rgba(253, 225, 167, 1), 30px 30px 0 0 #000000,
      35px 30px 0 0 rgba(168, 17, 0, 1), 40px 30px 0 0 rgba(168, 17, 0, 1),
      45px 30px 0 0 rgba(168, 17, 0, 1), 50px 30px 0 0 rgba(168, 17, 0, 1),
      55px 30px 0 0 #000000, 60px 30px 0 0 rgba(253, 225, 167, 1),
      65px 30px 0 0 rgba(168, 17, 0, 1), 70px 30px 0 0 rgba(168, 17, 0, 1),
      75px 30px 0 0 rgba(168, 17, 0, 1), 10px 35px 0 0 rgba(168, 17, 0, 1),
      15px 35px 0 0 rgba(168, 17, 0, 1), 20px 35px 0 0 rgba(168, 17, 0, 1),
      25px 35px 0 0 rgba(253, 225, 167, 1), 30px 35px 0 0 #000000,
      35px 35px 0 0 #000000, 40px 35px 0 0 #000000, 45px 35px 0 0 #000000,
      50px 35px 0 0 #000000, 55px 35px 0 0 #000000,
      60px 35px 0 0 rgba(253, 225, 167, 1), 65px 35px 0 0 rgba(168, 17, 0, 1),
      70px 35px 0 0 rgba(168, 17, 0, 1), 75px 35px 0 0 rgba(168, 17, 0, 1),
      5px 40px 0 0 rgba(168, 17, 0, 1), 10px 40px 0 0 rgba(168, 17, 0, 1),
      15px 40px 0 0 rgba(168, 17, 0, 1), 20px 40px 0 0 rgba(168, 17, 0, 1),
      25px 40px 0 0 rgba(253, 225, 167, 1), 30px 40px 0 0 #000000,
      35px 40px 0 0 rgba(253, 225, 167, 1), 40px 40px 0 0 rgba(168, 17, 0, 1),
      45px 40px 0 0 rgba(168, 17, 0, 1), 50px 40px 0 0 rgba(253, 225, 167, 1),
      55px 40px 0 0 #000000, 60px 40px 0 0 rgba(253, 225, 167, 1),
      65px 40px 0 0 rgba(168, 17, 0, 1), 70px 40px 0 0 rgba(168, 17, 0, 1),
      75px 40px 0 0 rgba(168, 17, 0, 1), 80px 40px 0 0 rgba(168, 17, 0, 1),
      5px 45px 0 0 rgba(168, 17, 0, 1), 10px 45px 0 0 rgba(168, 17, 0, 1),
      15px 45px 0 0 rgba(168, 17, 0, 1), 20px 45px 0 0 rgba(168, 17, 0, 1),
      25px 45px 0 0 rgba(253, 225, 167, 1), 30px 45px 0 0 rgba(253, 225, 167, 1),
      35px 45px 0 0 rgba(253, 225, 167, 1), 40px 45px 0 0 rgba(168, 17, 0, 1),
      45px 45px 0 0 rgba(168, 17, 0, 1), 50px 45px 0 0 rgba(253, 225, 167, 1),
      55px 45px 0 0 rgba(253, 225, 167, 1), 60px 45px 0 0 rgba(253, 225, 167, 1),
      65px 45px 0 0 rgba(168, 17, 0, 1), 70px 45px 0 0 rgba(168, 17, 0, 1),
      75px 45px 0 0 rgba(168, 17, 0, 1), 80px 45px 0 0 rgba(168, 17, 0, 1),
      5px 50px 0 0 rgba(168, 17, 0, 1), 10px 50px 0 0 rgba(168, 17, 0, 1),
      15px 50px 0 0 rgba(168, 17, 0, 1), 20px 50px 0 0 rgba(168, 17, 0, 1),
      25px 50px 0 0 rgba(168, 17, 0, 1), 30px 50px 0 0 rgba(168, 17, 0, 1),
      35px 50px 0 0 rgba(168, 17, 0, 1), 40px 50px 0 0 rgba(168, 17, 0, 1),
      45px 50px 0 0 rgba(168, 17, 0, 1), 50px 50px 0 0 rgba(168, 17, 0, 1),
      55px 50px 0 0 rgba(168, 17, 0, 1), 60px 50px 0 0 rgba(168, 17, 0, 1),
      65px 50px 0 0 rgba(168, 17, 0, 1), 70px 50px 0 0 rgba(168, 17, 0, 1),
      75px 50px 0 0 rgba(168, 17, 0, 1), 80px 50px 0 0 rgba(168, 17, 0, 1),
      10px 55px 0 0 rgba(168, 17, 0, 1), 15px 55px 0 0 rgba(168, 17, 0, 1),
      20px 55px 0 0 rgba(168, 17, 0, 1), 25px 55px 0 0 rgba(168, 17, 0, 1),
      30px 55px 0 0 rgba(253, 225, 167, 1), 35px 55px 0 0 rgba(253, 225, 167, 1),
      40px 55px 0 0 rgba(253, 225, 167, 1), 45px 55px 0 0 rgba(253, 225, 167, 1),
      50px 55px 0 0 rgba(253, 225, 167, 1), 55px 55px 0 0 rgba(253, 225, 167, 1),
      60px 55px 0 0 rgba(168, 17, 0, 1), 65px 55px 0 0 rgba(168, 17, 0, 1),
      70px 55px 0 0 rgba(168, 17, 0, 1), 75px 55px 0 0 rgba(168, 17, 0, 1),
      25px 60px 0 0 rgba(253, 225, 167, 1), 30px 60px 0 0 rgba(253, 225, 167, 1),
      35px 60px 0 0 rgba(253, 225, 167, 1), 40px 60px 0 0 rgba(253, 225, 167, 1),
      45px 60px 0 0 rgba(253, 225, 167, 1), 50px 60px 0 0 rgba(253, 225, 167, 1),
      55px 60px 0 0 rgba(253, 225, 167, 1), 60px 60px 0 0 rgba(253, 225, 167, 1),
      25px 65px 0 0 rgba(253, 225, 167, 1), 30px 65px 0 0 rgba(253, 225, 167, 1),
      35px 65px 0 0 rgba(253, 225, 167, 1), 40px 65px 0 0 rgba(253, 225, 167, 1),
      45px 65px 0 0 rgba(253, 225, 167, 1), 50px 65px 0 0 rgba(253, 225, 167, 1),
      55px 65px 0 0 rgba(253, 225, 167, 1), 60px 65px 0 0 rgba(253, 225, 167, 1),
      65px 65px 0 0 #000000, 70px 65px 0 0 #000000, 20px 70px 0 0 #000000,
      25px 70px 0 0 #000000, 30px 70px 0 0 rgba(253, 225, 167, 1),
      35px 70px 0 0 rgba(253, 225, 167, 1), 40px 70px 0 0 rgba(253, 225, 167, 1),
      45px 70px 0 0 rgba(253, 225, 167, 1), 50px 70px 0 0 rgba(253, 225, 167, 1),
      55px 70px 0 0 #000000, 60px 70px 0 0 #000000, 65px 70px 0 0 #000000,
      70px 70px 0 0 #000000, 75px 70px 0 0 #000000, 20px 75px 0 0 #000000,
      25px 75px 0 0 #000000, 30px 75px 0 0 #000000,
      35px 75px 0 0 rgba(253, 225, 167, 1), 40px 75px 0 0 rgba(253, 225, 167, 1),
      45px 75px 0 0 rgba(253, 225, 167, 1), 50px 75px 0 0 #000000,
      55px 75px 0 0 #000000, 60px 75px 0 0 #000000, 65px 75px 0 0 #000000,
      70px 75px 0 0 #000000, 75px 75px 0 0 #000000, 25px 80px 0 0 #000000,
      30px 80px 0 0 #000000, 35px 80px 0 0 #000000,
      40px 80px 0 0 rgba(253, 225, 167, 1), 45px 80px 0 0 rgba(253, 225, 167, 1),
      50px 80px 0 0 #000000, 55px 80px 0 0 #000000, 60px 80px 0 0 #000000,
      65px 80px 0 0 #000000, 70px 80px 0 0 #000000;
    height: 5px;
    width: 5px;
  }
  50.01%,
  100% {
    box-shadow: 35px 5px 0 0 rgba(168, 17, 0, 1),
      40px 5px 0 0 rgba(168, 17, 0, 1), 45px 5px 0 0 rgba(168, 17, 0, 1),
      50px 5px 0 0 rgba(168, 17, 0, 1), 30px 10px 0 0 rgba(168, 17, 0, 1),
      35px 10px 0 0 rgba(168, 17, 0, 1), 40px 10px 0 0 rgba(168, 17, 0, 1),
      45px 10px 0 0 rgba(168, 17, 0, 1), 50px 10px 0 0 rgba(168, 17, 0, 1),
      55px 10px 0 0 rgba(168, 17, 0, 1), 25px 15px 0 0 rgba(168, 17, 0, 1),
      30px 15px 0 0 rgba(168, 17, 0, 1), 35px 15px 0 0 rgba(168, 17, 0, 1),
      40px 15px 0 0 rgba(168, 17, 0, 1), 45px 15px 0 0 rgba(168, 17, 0, 1),
      50px 15px 0 0 rgba(168, 17, 0, 1), 55px 15px 0 0 rgba(168, 17, 0, 1),
      60px 15px 0 0 rgba(168, 17, 0, 1), 20px 20px 0 0 rgba(168, 17, 0, 1),
      25px 20px 0 0 rgba(168, 17, 0, 1), 30px 20px 0 0 rgba(168, 17, 0, 1),
      35px 20px 0 0 rgba(168, 17, 0, 1), 40px 20px 0 0 rgba(168, 17, 0, 1),
      45px 20px 0 0 rgba(168, 17, 0, 1), 50px 20px 0 0 rgba(168, 17, 0, 1),
      55px 20px 0 0 rgba(168, 17, 0, 1), 60px 20px 0 0 rgba(168, 17, 0, 1),
      65px 20px 0 0 rgba(168, 17, 0, 1), 15px 25px 0 0 rgba(168, 17, 0, 1),
      20px 25px 0 0 #000000, 25px 25px 0 0 #000000,
      30px 25px 0 0 rgba(168, 17, 0, 1), 35px 25px 0 0 rgba(168, 17, 0, 1),
      40px 25px 0 0 rgba(168, 17, 0, 1), 45px 25px 0 0 rgba(168, 17, 0, 1),
      50px 25px 0 0 rgba(168, 17, 0, 1), 55px 25px 0 0 rgba(168, 17, 0, 1),
      60px 25px 0 0 #000000, 65px 25px 0 0 #000000,
      70px 25px 0 0 rgba(168, 17, 0, 1), 10px 30px 0 0 rgba(168, 17, 0, 1),
      15px 30px 0 0 rgba(168, 17, 0, 1), 20px 30px 0 0 rgba(168, 17, 0, 1),
      25px 30px 0 0 rgba(253, 225, 167, 1), 30px 30px 0 0 #000000,
      35px 30px 0 0 rgba(168, 17, 0, 1), 40px 30px 0 0 rgba(168, 17, 0, 1),
      45px 30px 0 0 rgba(168, 17, 0, 1), 50px 30px 0 0 rgba(168, 17, 0, 1),
      55px 30px 0 0 #000000, 60px 30px 0 0 rgba(253, 225, 167, 1),
      65px 30px 0 0 rgba(168, 17, 0, 1), 70px 30px 0 0 rgba(168, 17, 0, 1),
      75px 30px 0 0 rgba(168, 17, 0, 1), 10px 35px 0 0 rgba(168, 17, 0, 1),
      15px 35px 0 0 rgba(168, 17, 0, 1), 20px 35px 0 0 rgba(168, 17, 0, 1),
      25px 35px 0 0 rgba(253, 225, 167, 1), 30px 35px 0 0 #000000,
      35px 35px 0 0 #000000, 40px 35px 0 0 #000000, 45px 35px 0 0 #000000,
      50px 35px 0 0 #000000, 55px 35px 0 0 #000000,
      60px 35px 0 0 rgba(253, 225, 167, 1), 65px 35px 0 0 rgba(168, 17, 0, 1),
      70px 35px 0 0 rgba(168, 17, 0, 1), 75px 35px 0 0 rgba(168, 17, 0, 1),
      5px 40px 0 0 rgba(168, 17, 0, 1), 10px 40px 0 0 rgba(168, 17, 0, 1),
      15px 40px 0 0 rgba(168, 17, 0, 1), 20px 40px 0 0 rgba(168, 17, 0, 1),
      25px 40px 0 0 rgba(253, 225, 167, 1), 30px 40px 0 0 #000000,
      35px 40px 0 0 rgba(253, 225, 167, 1), 40px 40px 0 0 rgba(168, 17, 0, 1),
      45px 40px 0 0 rgba(168, 17, 0, 1), 50px 40px 0 0 rgba(253, 225, 167, 1),
      55px 40px 0 0 #000000, 60px 40px 0 0 rgba(253, 225, 167, 1),
      65px 40px 0 0 rgba(168, 17, 0, 1), 70px 40px 0 0 rgba(168, 17, 0, 1),
      75px 40px 0 0 rgba(168, 17, 0, 1), 80px 40px 0 0 rgba(168, 17, 0, 1),
      5px 45px 0 0 rgba(168, 17, 0, 1), 10px 45px 0 0 rgba(168, 17, 0, 1),
      15px 45px 0 0 rgba(168, 17, 0, 1), 20px 45px 0 0 rgba(168, 17, 0, 1),
      25px 45px 0 0 rgba(253, 225, 167, 1), 30px 45px 0 0 rgba(253, 225, 167, 1),
      35px 45px 0 0 rgba(253, 225, 167, 1), 40px 45px 0 0 rgba(168, 17, 0, 1),
      45px 45px 0 0 rgba(168, 17, 0, 1), 50px 45px 0 0 rgba(253, 225, 167, 1),
      55px 45px 0 0 rgba(253, 225, 167, 1), 60px 45px 0 0 rgba(253, 225, 167, 1),
      65px 45px 0 0 rgba(168, 17, 0, 1), 70px 45px 0 0 rgba(168, 17, 0, 1),
      75px 45px 0 0 rgba(168, 17, 0, 1), 80px 45px 0 0 rgba(168, 17, 0, 1),
      5px 50px 0 0 rgba(168, 17, 0, 1), 10px 50px 0 0 rgba(168, 17, 0, 1),
      15px 50px 0 0 rgba(168, 17, 0, 1), 20px 50px 0 0 rgba(168, 17, 0, 1),
      25px 50px 0 0 rgba(168, 17, 0, 1), 30px 50px 0 0 rgba(168, 17, 0, 1),
      35px 50px 0 0 rgba(168, 17, 0, 1), 40px 50px 0 0 rgba(168, 17, 0, 1),
      45px 50px 0 0 rgba(168, 17, 0, 1), 50px 50px 0 0 rgba(168, 17, 0, 1),
      55px 50px 0 0 rgba(168, 17, 0, 1), 60px 50px 0 0 rgba(168, 17, 0, 1),
      65px 50px 0 0 rgba(168, 17, 0, 1), 70px 50px 0 0 rgba(168, 17, 0, 1),
      75px 50px 0 0 rgba(168, 17, 0, 1), 80px 50px 0 0 rgba(168, 17, 0, 1),
      10px 55px 0 0 rgba(168, 17, 0, 1), 15px 55px 0 0 rgba(168, 17, 0, 1),
      20px 55px 0 0 rgba(168, 17, 0, 1), 25px 55px 0 0 rgba(168, 17, 0, 1),
      30px 55px 0 0 rgba(253, 225, 167, 1), 35px 55px 0 0 rgba(253, 225, 167, 1),
      40px 55px 0 0 rgba(253, 225, 167, 1), 45px 55px 0 0 rgba(253, 225, 167, 1),
      50px 55px 0 0 rgba(253, 225, 167, 1), 55px 55px 0 0 rgba(253, 225, 167, 1),
      60px 55px 0 0 rgba(168, 17, 0, 1), 65px 55px 0 0 rgba(168, 17, 0, 1),
      70px 55px 0 0 rgba(168, 17, 0, 1), 75px 55px 0 0 rgba(168, 17, 0, 1),
      25px 60px 0 0 rgba(253, 225, 167, 1), 30px 60px 0 0 rgba(253, 225, 167, 1),
      35px 60px 0 0 rgba(253, 225, 167, 1), 40px 60px 0 0 rgba(253, 225, 167, 1),
      45px 60px 0 0 rgba(253, 225, 167, 1), 50px 60px 0 0 rgba(253, 225, 167, 1),
      55px 60px 0 0 rgba(253, 225, 167, 1), 60px 60px 0 0 rgba(253, 225, 167, 1),
      15px 65px 0 0 #000000, 20px 65px 0 0 #000000,
      25px 65px 0 0 rgba(253, 225, 167, 1), 30px 65px 0 0 rgba(253, 225, 167, 1),
      35px 65px 0 0 rgba(253, 225, 167, 1), 40px 65px 0 0 rgba(253, 225, 167, 1),
      45px 65px 0 0 rgba(253, 225, 167, 1), 50px 65px 0 0 rgba(253, 225, 167, 1),
      55px 65px 0 0 rgba(253, 225, 167, 1), 60px 65px 0 0 rgba(253, 225, 167, 1),
      10px 70px 0 0 #000000, 15px 70px 0 0 #000000, 20px 70px 0 0 #000000,
      25px 70px 0 0 #000000, 30px 70px 0 0 #000000,
      35px 70px 0 0 rgba(253, 225, 167, 1), 40px 70px 0 0 rgba(253, 225, 167, 1),
      45px 70px 0 0 rgba(253, 225, 167, 1), 50px 70px 0 0 rgba(253, 225, 167, 1),
      55px 70px 0 0 rgba(253, 225, 167, 1), 60px 70px 0 0 #000000,
      65px 70px 0 0 #000000, 10px 75px 0 0 #000000, 15px 75px 0 0 #000000,
      20px 75px 0 0 #000000, 25px 75px 0 0 #000000, 30px 75px 0 0 #000000,
      35px 75px 0 0 #000000, 40px 75px 0 0 rgba(253, 225, 167, 1),
      45px 75px 0 0 rgba(253, 225, 167, 1), 50px 75px 0 0 rgba(253, 225, 167, 1),
      55px 75px 0 0 #000000, 60px 75px 0 0 #000000, 65px 75px 0 0 #000000,
      15px 80px 0 0 #000000, 20px 80px 0 0 #000000, 25px 80px 0 0 #000000,
      30px 80px 0 0 #000000, 35px 80px 0 0 #000000,
      40px 80px 0 0 rgba(253, 225, 167, 1), 45px 80px 0 0 rgba(253, 225, 167, 1),
      50px 80px 0 0 #000000, 55px 80px 0 0 #000000, 60px 80px 0 0 #000000;
    height: 5px;
    width: 5px;
  }
}

.mario {
  position: absolute;
  left: 0%;
  top: 33.2%;
  animation: y 10s infinite, yDeath 10s infinite;
  -webkit-animation: y 10s infinite, yDeath 10s infinite;
  -moz-animation: y 10s infinite, yDeath 10s infinite;
  -o-animation: y 10s infinite, yDeath 10s infinite;
  z-index: 1;
}

@keyframes yDeath {
  0%,
  25% {
    top: 50%;
  }

  30% {
    top: 50%;
  }

  43.75% {
    top: 3.2%;
  }

  81.25% {
    top: 300%;
  }

  100% {
    top: 50%;
  }
}

@keyframes y {
  0%,
  25% {
    box-shadow: 25px 5px 0 0 rgba(216, 40, 0, 1),
      30px 5px 0 0 rgba(216, 40, 0, 1), 35px 5px 0 0 rgba(216, 40, 0, 1),
      40px 5px 0 0 rgba(216, 40, 0, 1), 45px 5px 0 0 rgba(216, 40, 0, 1),
      50px 5px 0 0 rgba(216, 40, 0, 1), 20px 10px 0 0 rgba(216, 40, 0, 1),
      25px 10px 0 0 rgba(216, 40, 0, 1), 30px 10px 0 0 rgba(216, 40, 0, 1),
      35px 10px 0 0 rgba(216, 40, 0, 1), 40px 10px 0 0 rgba(216, 40, 0, 1),
      45px 10px 0 0 rgba(216, 40, 0, 1), 50px 10px 0 0 rgba(216, 40, 0, 1),
      55px 10px 0 0 rgba(216, 40, 0, 1), 60px 10px 0 0 rgba(216, 40, 0, 1),
      65px 10px 0 0 rgba(216, 40, 0, 1), 70px 10px 0 0 rgba(216, 40, 0, 1),
      20px 15px 0 0 rgba(135, 112, 0, 1), 25px 15px 0 0 rgba(135, 112, 0, 1),
      30px 15px 0 0 rgba(135, 112, 0, 1), 35px 15px 0 0 rgba(135, 112, 0, 1),
      40px 15px 0 0 rgba(252, 152, 56, 1), 45px 15px 0 0 rgba(252, 152, 56, 1),
      50px 15px 0 0 rgba(135, 112, 0, 1), 55px 15px 0 0 rgba(252, 152, 56, 1),
      10px 20px 0 0 rgba(135, 112, 0, 1), 15px 20px 0 0 rgba(135, 112, 0, 1),
      20px 20px 0 0 rgba(135, 112, 0, 1), 25px 20px 0 0 rgba(252, 152, 56, 1),
      30px 20px 0 0 rgba(135, 112, 0, 1), 35px 20px 0 0 rgba(252, 152, 56, 1),
      40px 20px 0 0 rgba(252, 152, 56, 1), 45px 20px 0 0 rgba(252, 152, 56, 1),
      50px 20px 0 0 rgba(135, 112, 0, 1), 55px 20px 0 0 rgba(252, 152, 56, 1),
      60px 20px 0 0 rgba(252, 152, 56, 1), 65px 20px 0 0 rgba(252, 152, 56, 1),
      10px 25px 0 0 rgba(135, 112, 0, 1), 15px 25px 0 0 rgba(135, 112, 0, 1),
      20px 25px 0 0 rgba(135, 112, 0, 1), 25px 25px 0 0 rgba(252, 152, 56, 1),
      30px 25px 0 0 rgba(135, 112, 0, 1), 35px 25px 0 0 rgba(135, 112, 0, 1),
      40px 25px 0 0 rgba(252, 152, 56, 1), 45px 25px 0 0 rgba(252, 152, 56, 1),
      50px 25px 0 0 rgba(252, 152, 56, 1), 55px 25px 0 0 rgba(135, 112, 0, 1),
      60px 25px 0 0 rgba(252, 152, 56, 1), 65px 25px 0 0 rgba(252, 152, 56, 1),
      70px 25px 0 0 rgba(252, 152, 56, 1), 10px 30px 0 0 rgba(135, 112, 0, 1),
      15px 30px 0 0 rgba(135, 112, 0, 1), 20px 30px 0 0 rgba(135, 112, 0, 1),
      25px 30px 0 0 rgba(135, 112, 0, 1), 30px 30px 0 0 rgba(252, 152, 56, 1),
      35px 30px 0 0 rgba(252, 152, 56, 1), 40px 30px 0 0 rgba(252, 152, 56, 1),
      45px 30px 0 0 rgba(252, 152, 56, 1), 50px 30px 0 0 rgba(135, 112, 0, 1),
      55px 30px 0 0 rgba(135, 112, 0, 1), 60px 30px 0 0 rgba(135, 112, 0, 1),
      65px 30px 0 0 rgba(135, 112, 0, 1), 25px 35px 0 0 rgba(252, 152, 56, 1),
      30px 35px 0 0 rgba(252, 152, 56, 1), 35px 35px 0 0 rgba(252, 152, 56, 1),
      40px 35px 0 0 rgba(252, 152, 56, 1), 45px 35px 0 0 rgba(252, 152, 56, 1),
      50px 35px 0 0 rgba(252, 152, 56, 1), 55px 35px 0 0 rgba(252, 152, 56, 1),
      60px 35px 0 0 rgba(252, 152, 56, 1), 20px 40px 0 0 rgba(135, 112, 0, 1),
      25px 40px 0 0 rgba(135, 112, 0, 1), 30px 40px 0 0 rgba(135, 112, 0, 1),
      35px 40px 0 0 rgba(216, 40, 0, 1), 40px 40px 0 0 rgba(135, 112, 0, 1),
      45px 40px 0 0 rgba(135, 112, 0, 1), 50px 40px 0 0 rgba(135, 112, 0, 1),
      15px 45px 0 0 rgba(135, 112, 0, 1), 20px 45px 0 0 rgba(135, 112, 0, 1),
      25px 45px 0 0 rgba(135, 112, 0, 1), 30px 45px 0 0 rgba(135, 112, 0, 1),
      35px 45px 0 0 rgba(216, 40, 0, 1), 40px 45px 0 0 rgba(135, 112, 0, 1),
      45px 45px 0 0 rgba(135, 112, 0, 1), 50px 45px 0 0 rgba(216, 40, 0, 1),
      55px 45px 0 0 rgba(135, 112, 0, 1), 60px 45px 0 0 rgba(135, 112, 0, 1),
      65px 45px 0 0 rgba(135, 112, 0, 1), 10px 50px 0 0 rgba(135, 112, 0, 1),
      15px 50px 0 0 rgba(135, 112, 0, 1), 20px 50px 0 0 rgba(135, 112, 0, 1),
      25px 50px 0 0 rgba(135, 112, 0, 1), 30px 50px 0 0 rgba(135, 112, 0, 1),
      35px 50px 0 0 rgba(216, 40, 0, 1), 40px 50px 0 0 rgba(216, 40, 0, 1),
      45px 50px 0 0 rgba(216, 40, 0, 1), 50px 50px 0 0 rgba(216, 40, 0, 1),
      55px 50px 0 0 rgba(135, 112, 0, 1), 60px 50px 0 0 rgba(135, 112, 0, 1),
      65px 50px 0 0 rgba(135, 112, 0, 1), 70px 50px 0 0 rgba(135, 112, 0, 1),
      10px 55px 0 0 rgba(252, 152, 56, 1), 15px 55px 0 0 rgba(252, 152, 56, 1),
      20px 55px 0 0 rgba(252, 152, 56, 1), 25px 55px 0 0 rgba(135, 112, 0, 1),
      30px 55px 0 0 rgba(216, 40, 0, 1), 35px 55px 0 0 rgba(252, 152, 56, 1),
      40px 55px 0 0 rgba(216, 40, 0, 1), 45px 55px 0 0 rgba(216, 40, 0, 1),
      50px 55px 0 0 rgba(252, 152, 56, 1), 55px 55px 0 0 rgba(216, 40, 0, 1),
      60px 55px 0 0 rgba(135, 112, 0, 1), 65px 55px 0 0 rgba(252, 152, 56, 1),
      70px 55px 0 0 rgba(252, 152, 56, 1), 10px 60px 0 0 rgba(252, 152, 56, 1),
      15px 60px 0 0 rgba(252, 152, 56, 1), 20px 60px 0 0 rgba(252, 152, 56, 1),
      25px 60px 0 0 rgba(252, 152, 56, 1), 30px 60px 0 0 rgba(216, 40, 0, 1),
      35px 60px 0 0 rgba(216, 40, 0, 1), 40px 60px 0 0 rgba(216, 40, 0, 1),
      45px 60px 0 0 rgba(216, 40, 0, 1), 50px 60px 0 0 rgba(216, 40, 0, 1),
      55px 60px 0 0 rgba(216, 40, 0, 1), 60px 60px 0 0 rgba(252, 152, 56, 1),
      65px 60px 0 0 rgba(252, 152, 56, 1), 70px 60px 0 0 rgba(252, 152, 56, 1),
      10px 65px 0 0 rgba(252, 152, 56, 1), 15px 65px 0 0 rgba(252, 152, 56, 1),
      20px 65px 0 0 rgba(252, 152, 56, 1), 25px 65px 0 0 rgba(216, 40, 0, 1),
      30px 65px 0 0 rgba(216, 40, 0, 1), 35px 65px 0 0 rgba(216, 40, 0, 1),
      40px 65px 0 0 rgba(216, 40, 0, 1), 45px 65px 0 0 rgba(216, 40, 0, 1),
      50px 65px 0 0 rgba(216, 40, 0, 1), 55px 65px 0 0 rgba(216, 40, 0, 1),
      60px 65px 0 0 rgba(216, 40, 0, 1), 65px 65px 0 0 rgba(252, 152, 56, 1),
      70px 65px 0 0 rgba(252, 152, 56, 1), 20px 70px 0 0 rgba(216, 40, 0, 1),
      25px 70px 0 0 rgba(216, 40, 0, 1), 30px 70px 0 0 rgba(216, 40, 0, 1),
      35px 70px 0 0 rgba(216, 40, 0, 1), 45px 70px 0 0 rgba(216, 40, 0, 1),
      50px 70px 0 0 rgba(216, 40, 0, 1), 55px 70px 0 0 rgba(216, 40, 0, 1),
      60px 70px 0 0 rgba(216, 40, 0, 1), 15px 75px 0 0 rgba(135, 112, 0, 1),
      20px 75px 0 0 rgba(135, 112, 0, 1), 25px 75px 0 0 rgba(135, 112, 0, 1),
      30px 75px 0 0 rgba(135, 112, 0, 1), 50px 75px 0 0 rgba(135, 112, 0, 1),
      55px 75px 0 0 rgba(135, 112, 0, 1), 60px 75px 0 0 rgba(135, 112, 0, 1),
      65px 75px 0 0 rgba(135, 112, 0, 1), 10px 80px 0 0 rgba(135, 112, 0, 1),
      15px 80px 0 0 rgba(135, 112, 0, 1), 20px 80px 0 0 rgba(135, 112, 0, 1),
      25px 80px 0 0 rgba(135, 112, 0, 1), 30px 80px 0 0 rgba(135, 112, 0, 1),
      50px 80px 0 0 rgba(135, 112, 0, 1), 55px 80px 0 0 rgba(135, 112, 0, 1),
      60px 80px 0 0 rgba(135, 112, 0, 1), 65px 80px 0 0 rgba(135, 112, 0, 1),
      70px 80px 0 0 rgba(135, 112, 0, 1);
    height: 5px;
    width: 5px;
  }
  25.01%,
  100% {
    box-shadow: 30px 10px 0 0 rgba(216, 40, 0, 1),
      35px 10px 0 0 rgba(216, 40, 0, 1), 40px 10px 0 0 rgba(216, 40, 0, 1),
      45px 10px 0 0 rgba(216, 40, 0, 1), 50px 10px 0 0 rgba(216, 40, 0, 1),
      15px 15px 0 0 rgba(252, 152, 56, 1), 20px 15px 0 0 rgba(252, 152, 56, 1),
      25px 15px 0 0 rgba(216, 40, 0, 1), 30px 15px 0 0 rgba(216, 40, 0, 1),
      35px 15px 0 0 rgba(216, 40, 0, 1), 40px 15px 0 0 rgba(216, 40, 0, 1),
      45px 15px 0 0 rgba(216, 40, 0, 1), 50px 15px 0 0 rgba(216, 40, 0, 1),
      55px 15px 0 0 rgba(216, 40, 0, 1), 60px 15px 0 0 rgba(252, 152, 56, 1),
      65px 15px 0 0 rgba(252, 152, 56, 1), 5px 20px 0 0 rgba(252, 152, 56, 1),
      10px 20px 0 0 rgba(252, 152, 56, 1), 15px 20px 0 0 rgba(252, 152, 56, 1),
      20px 20px 0 0 rgba(135, 112, 0, 1), 25px 20px 0 0 rgba(252, 152, 56, 1),
      30px 20px 0 0 rgba(135, 112, 0, 1), 35px 20px 0 0 rgba(252, 152, 56, 1),
      40px 20px 0 0 rgba(252, 152, 56, 1), 45px 20px 0 0 rgba(135, 112, 0, 1),
      50px 20px 0 0 rgba(252, 152, 56, 1), 55px 20px 0 0 rgba(135, 112, 0, 1),
      60px 20px 0 0 rgba(252, 152, 56, 1), 65px 20px 0 0 rgba(252, 152, 56, 1),
      70px 20px 0 0 rgba(252, 152, 56, 1), 75px 20px 0 0 rgba(252, 152, 56, 1),
      5px 25px 0 0 rgba(252, 152, 56, 1), 10px 25px 0 0 rgba(252, 152, 56, 1),
      15px 25px 0 0 rgba(135, 112, 0, 1), 20px 25px 0 0 rgba(135, 112, 0, 1),
      25px 25px 0 0 rgba(252, 152, 56, 1), 30px 25px 0 0 rgba(135, 112, 0, 1),
      35px 25px 0 0 rgba(252, 152, 56, 1), 40px 25px 0 0 rgba(252, 152, 56, 1),
      45px 25px 0 0 rgba(135, 112, 0, 1), 50px 25px 0 0 rgba(252, 152, 56, 1),
      55px 25px 0 0 rgba(135, 112, 0, 1), 60px 25px 0 0 rgba(135, 112, 0, 1),
      65px 25px 0 0 rgba(252, 152, 56, 1), 70px 25px 0 0 rgba(252, 152, 56, 1),
      75px 25px 0 0 rgba(252, 152, 56, 1), 5px 30px 0 0 rgba(252, 152, 56, 1),
      10px 30px 0 0 rgba(252, 152, 56, 1), 15px 30px 0 0 rgba(135, 112, 0, 1),
      20px 30px 0 0 rgba(135, 112, 0, 1), 25px 30px 0 0 rgba(135, 112, 0, 1),
      30px 30px 0 0 rgba(252, 152, 56, 1), 35px 30px 0 0 rgba(252, 152, 56, 1),
      40px 30px 0 0 rgba(252, 152, 56, 1), 45px 30px 0 0 rgba(252, 152, 56, 1),
      50px 30px 0 0 rgba(135, 112, 0, 1), 55px 30px 0 0 rgba(135, 112, 0, 1),
      60px 30px 0 0 rgba(135, 112, 0, 1), 65px 30px 0 0 rgba(252, 152, 56, 1),
      70px 30px 0 0 rgba(252, 152, 56, 1), 75px 30px 0 0 rgba(252, 152, 56, 1),
      15px 35px 0 0 rgba(135, 112, 0, 1), 20px 35px 0 0 rgba(135, 112, 0, 1),
      25px 35px 0 0 rgba(135, 112, 0, 1), 30px 35px 0 0 rgba(135, 112, 0, 1),
      35px 35px 0 0 rgba(252, 152, 56, 1), 40px 35px 0 0 rgba(252, 152, 56, 1),
      45px 35px 0 0 rgba(135, 112, 0, 1), 50px 35px 0 0 rgba(135, 112, 0, 1),
      55px 35px 0 0 rgba(135, 112, 0, 1), 60px 35px 0 0 rgba(135, 112, 0, 1),
      65px 35px 0 0 rgba(135, 112, 0, 1), 20px 40px 0 0 rgba(135, 112, 0, 1),
      25px 40px 0 0 rgba(252, 152, 56, 1), 30px 40px 0 0 rgba(135, 112, 0, 1),
      35px 40px 0 0 rgba(135, 112, 0, 1), 40px 40px 0 0 rgba(135, 112, 0, 1),
      45px 40px 0 0 rgba(135, 112, 0, 1), 50px 40px 0 0 rgba(252, 152, 56, 1),
      55px 40px 0 0 rgba(135, 112, 0, 1), 60px 40px 0 0 rgba(135, 112, 0, 1),
      20px 45px 0 0 rgba(135, 112, 0, 1), 25px 45px 0 0 rgba(252, 152, 56, 1),
      30px 45px 0 0 rgba(252, 152, 56, 1), 35px 45px 0 0 rgba(252, 152, 56, 1),
      40px 45px 0 0 rgba(252, 152, 56, 1), 45px 45px 0 0 rgba(252, 152, 56, 1),
      50px 45px 0 0 rgba(252, 152, 56, 1), 55px 45px 0 0 rgba(135, 112, 0, 1),
      60px 45px 0 0 rgba(135, 112, 0, 1), 15px 50px 0 0 rgba(216, 40, 0, 1),
      20px 50px 0 0 rgba(216, 40, 0, 1), 25px 50px 0 0 rgba(216, 40, 0, 1),
      30px 50px 0 0 rgba(252, 152, 56, 1), 35px 50px 0 0 rgba(252, 152, 56, 1),
      40px 50px 0 0 rgba(252, 152, 56, 1), 45px 50px 0 0 rgba(252, 152, 56, 1),
      50px 50px 0 0 rgba(216, 40, 0, 1), 55px 50px 0 0 rgba(216, 40, 0, 1),
      60px 50px 0 0 rgba(216, 40, 0, 1), 65px 50px 0 0 rgba(216, 40, 0, 1),
      15px 55px 0 0 rgba(135, 112, 0, 1), 20px 55px 0 0 rgba(216, 40, 0, 1),
      25px 55px 0 0 rgba(216, 40, 0, 1), 30px 55px 0 0 rgba(135, 112, 0, 1),
      35px 55px 0 0 rgba(135, 112, 0, 1), 40px 55px 0 0 rgba(135, 112, 0, 1),
      45px 55px 0 0 rgba(135, 112, 0, 1), 50px 55px 0 0 rgba(216, 40, 0, 1),
      55px 55px 0 0 rgba(216, 40, 0, 1), 60px 55px 0 0 rgba(135, 112, 0, 1),
      65px 55px 0 0 rgba(135, 112, 0, 1), 70px 55px 0 0 rgba(135, 112, 0, 1),
      10px 60px 0 0 rgba(135, 112, 0, 1), 15px 60px 0 0 rgba(135, 112, 0, 1),
      20px 60px 0 0 rgba(135, 112, 0, 1), 25px 60px 0 0 rgba(216, 40, 0, 1),
      30px 60px 0 0 rgba(216, 40, 0, 1), 35px 60px 0 0 rgba(135, 112, 0, 1),
      40px 60px 0 0 rgba(135, 112, 0, 1), 45px 60px 0 0 rgba(216, 40, 0, 1),
      50px 60px 0 0 rgba(216, 40, 0, 1), 55px 60px 0 0 rgba(135, 112, 0, 1),
      60px 60px 0 0 rgba(135, 112, 0, 1), 65px 60px 0 0 rgba(135, 112, 0, 1),
      70px 60px 0 0 rgba(135, 112, 0, 1), 10px 65px 0 0 rgba(135, 112, 0, 1),
      15px 65px 0 0 rgba(135, 112, 0, 1), 20px 65px 0 0 rgba(135, 112, 0, 1),
      25px 65px 0 0 rgba(216, 40, 0, 1), 30px 65px 0 0 rgba(252, 152, 56, 1),
      35px 65px 0 0 rgba(216, 40, 0, 1), 40px 65px 0 0 rgba(216, 40, 0, 1),
      45px 65px 0 0 rgba(252, 152, 56, 1), 50px 65px 0 0 rgba(216, 40, 0, 1),
      55px 65px 0 0 rgba(135, 112, 0, 1), 60px 65px 0 0 rgba(135, 112, 0, 1),
      65px 65px 0 0 rgba(135, 112, 0, 1), 70px 65px 0 0 rgba(135, 112, 0, 1),
      10px 70px 0 0 rgba(135, 112, 0, 1), 15px 70px 0 0 rgba(135, 112, 0, 1),
      20px 70px 0 0 rgba(135, 112, 0, 1), 25px 70px 0 0 rgba(216, 40, 0, 1),
      30px 70px 0 0 rgba(216, 40, 0, 1), 35px 70px 0 0 rgba(216, 40, 0, 1),
      40px 70px 0 0 rgba(216, 40, 0, 1), 45px 70px 0 0 rgba(216, 40, 0, 1),
      50px 70px 0 0 rgba(216, 40, 0, 1), 55px 70px 0 0 rgba(135, 112, 0, 1),
      60px 70px 0 0 rgba(135, 112, 0, 1), 65px 70px 0 0 rgba(135, 112, 0, 1),
      70px 70px 0 0 rgba(135, 112, 0, 1), 15px 75px 0 0 rgba(135, 112, 0, 1),
      20px 75px 0 0 rgba(135, 112, 0, 1), 25px 75px 0 0 rgba(216, 40, 0, 1),
      30px 75px 0 0 rgba(216, 40, 0, 1), 35px 75px 0 0 rgba(216, 40, 0, 1),
      40px 75px 0 0 rgba(216, 40, 0, 1), 45px 75px 0 0 rgba(216, 40, 0, 1),
      50px 75px 0 0 rgba(216, 40, 0, 1), 55px 75px 0 0 rgba(135, 112, 0, 1),
      60px 75px 0 0 rgba(135, 112, 0, 1), 65px 75px 0 0 rgba(135, 112, 0, 1);
    height: 5px;
    width: 5px;
  }
}