/* PopUp.module.css */
.activePopUp {
    overflow-y: hidden;
}

/*.btnModal {*/
/*    padding: 10px 20px;*/
/*    display: block;*/
/*    margin: 100px auto 0;*/
/*    font-size: 18px;*/
/*}*/

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
    backdrop-filter: blur(8px);
    animation: fadeIn 0.5s forwards;
    width: 100%;
    height: 100%;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #FFFFFF;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    animation: fadeIn 0.5s forwards;
    z-index: 1001;
}

.closeModal {
    /*position: absolute;*/
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 0.5s forwards;
}



/* CSS */
.modalButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 6px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /*width: 100px;*/
  will-change: transform;
}

.modalButton:disabled {
  pointer-events: none;
}

.modalButton:hover {
  color: #fff;
  background-color: #FFC3C3;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.modalButton:active {
  box-shadow: none;
  transform: translateY(0);
}