.formMain {
  list-style-type: none;
  /*max-height: 950px;*/
  /*overflow-y: auto;*/
  margin-bottom: 80px;
}

.sub-font {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.option {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
}

.option.active {
    background-color: #FF8F8F;
    color: white;
    border-color: #FFFFFF;
}

/*.province-option {*/
/*    margin: 5px;*/
/*    !*padding: 10px 20px;*!*/
/*    background-color: #f0f0f0;*/
/*    border: 1px solid #ccc;*/
/*    cursor: pointer;*/
/*    border-radius: 8px;*/
/*}*/
.province-option {
    /*mobile someday*/
    /*margin: 5px;*/
    /*background-color: #f0f0f0;*/
    /*border: 1px solid #ccc;*/
    /*cursor: pointer;*/
    /*border-radius: 8px;*/
    /*max-height: 30px;*/
    /*max-width: 100%;*/
    /*font-size: 9px;*/
    /*demo*/
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
    max-width: 100%;

        font-size: 14px; /* appropriate font size for desktops */
        max-height: 40px; /* increase height slightly */

}


.province-option.active {
    background-color: #FF8F8F;
    color: white;
    border-color: #FFFFFF;
}

.second-option {
  width: 90%;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
}


.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*demo*/
@media only screen and (max-width: 1200px) {
    .province-option {
        font-size: 13px;  /* slightly larger font for readability on tablets */
    }

}
@media (max-width: 1200px) {
  .second-option {
    display: block !important;
    flex-direction: column;
    margin-left: 20px;
  }
}
@media (max-width: 860px) {
  .formMain {
    min-width: 600px;
  }
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}




.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}
.text-box {
  /*max-width: 190px;*/
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 0.2rem 0.2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  transition: all 0.3s;
  justify-content: center;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.input_area {
  /*min-height: 60px;*/
}




  .checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
    border: 2px solid #FFFFFF;
    /*temporal fix*/
    border-radius: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #000000;
    border-radius: 6px;
    z-index: -1;
  }

  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #FFFFFF;
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #FFC3C3;
    border-color: #120f0b;
  }

  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
  }


/* CSS */
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  background-size: cover; /* Adjust as needed */
  content: "Oh YA"; /* Add content to display the background image */
}

.button-48:after {
  background-color: #FFFFFF;

}

.button-48 span {
  z-index: 1;
  position: relative;
}

.submit-button {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.error {
  color: darkred;
}

.submitButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 6px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  will-change: transform;
}

.submitButton:disabled {
  pointer-events: none;
}

.submitButton:hover {
  color: #fff;
  background-color: #FFC3C3;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submitButton:active {
  box-shadow: none;
  transform: translateY(0);
}













