.sidebar {
  width: 250px; /* Set the width of the sidebar */
  height: 1080px; /* Full-view height */
  background-color: #f4f4f4; /* Light grey background */
  border-left: solid black;
  border-right: solid black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Add shadow for depth */
  z-index: 800;
}
@media (min-width: 610px) {
  .sidebar {
    z-index: 0;
  }
}

@media (min-width: 1980px) {
  .sidebar {
    height: 1200px;
  }
}

@media (min-width: 2560px) and (min-height: 1440px) {
  .sidebar {
    height: 1440px;
  }
}

@media (min-width: 3840px) and (min-height: 2160px) {
  .sidebar {
    height: 2160px;
  }
}
.sidebarButton {
  background-color: #FFC3C3; /* Bootstrap primary blue */

}
.sidebarLoadButton {
  background-color: #FF8F8F; /* Bootstrap primary blue */

}

.sidebarNewChatBox {
  width: 100%;
  padding: 10px 25px;
  border-bottom: 2px solid black;
  justify-content: center;
}

.sidebarChatBox {
  width: 100%;
  padding-top: 20px;
  justify-content: center;
}

/*this is for 1980x1080*/
